{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'newsletter/css/newsletter.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="bg-green">
    <div class="container">
        <div class="row justify justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8">
                <div class="card m-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center mt-3">Become a plant person get 20% off</h4>
                                <p class="text-center sub-heading">
                                    subscribe to our newsletter & receive a discount coupon
                                </p>
                            </div>
                        </div>
                        <form method="POST" action="{% url 'subscribe' %}" class="">
                            <div class="row gx-1">
                                <div class="col-9">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                </div>
                                <div class="col-3">
                                    <input type="submit" value="GET IT!" class="btn btn-outline-success">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}