{% extends "includes/base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="home">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 col-md-6 col-sm-8 col-6">
                <h1 class="display-5 lh-1 mb-3 text-hero">The largest selection of <strong>indoor plants</strong> in
                    <strong>Ireland</strong>
                </h1>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                    Now</a>
                <a href="" class="discount-button btn btn-lg rounded-0 text-uppercase py-3"><span>get 20%
                        off</span></a>
            </div>
        </div>
    </div>
</section>
<section id="newsletter">
    {% include 'newsletter/newsletter.html' %}
</section>
{% endblock %}