{% extends "includes/base.html" %}
{% load static %}
{% load bag_tools %}




{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-last mb-5">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-2 my-2">
                    <div class="card position-relative">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.friendly_name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_name }}">
                        {% endif %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                            {{ item.quantity }}
                        </span>
                    </div>
                </div>
                <div class="col-7">
                    <p class="my-0">{{ item.product.name }}</p>
                    {% if item.product.botanical_name %}
                    <p class="my-0 text-muted small">{{ item.product.botanical_name }}</p>
                    {% else %}
                    <p class="my-0 text-muted small">{{ item.product.category.friendly_name }}</p>
                    {% endif %}
                </div>
                <div class="col-3 text-end">
                    <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <form action="{% url 'coupons:apply' %}" method="POST" class="p-0 mt-2">
                <div class="row p-0 gx-1">
                    <div class="col-9 mt-2 text-start">
                        {% csrf_token %}
                        {{ coupon_apply_form|crispy }}
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success w-100 mt-2">Apply</button>
                    </div>
                </div>
            </form>
            <div class="row mt-2">
                <div class="col-8 ">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Discount:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-4 text-end">
                    <p class="my-0">€{{ total | floatformat:2 }}</p>
                    <p class="my-0">€{{ delivery | floatformat:2 }}</p>
                    <p class="my-0">€{{ discount | floatformat:2 }}</p>
                    <p class="my-0"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <p class="text-center">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-label small fw-bold px-2 w-auto">Contact Details</legend>
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3 mb-5">
                    <legend class="fieldset-label small fw-bold px-2 w-auto">Shipping Address</legend>
                    {{ order_form.country | as_crispy_field }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ order_form.first_name | as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ order_form.last_name | as_crispy_field }}
                        </div>
                    </div>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    <div class="row gx-2">
                        <div class="col-md-4">
                            {{ order_form.town_or_city | as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ order_form.county | as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ order_form.postcode | as_crispy_field }}
                        </div>
                    </div>
                    {{ order_form.phone_number | as_crispy_field }}
                    <div class="form-check form-check-inline float-end mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small fw-bold px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
    
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
    
                <div class="submit-button text-end mt-5 mb-2">
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black 0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black 0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fa-solid fa-4x fa-gear fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}