/* body {
    background-color: #c6e6dd;
} */

header {
    background-color: #f4f4f4;
    background-image: url('/media/top.jpg');
    background-size: cover;
    background-position: 75% 25%;
}

.custom-success-bg {
    background-color: #186049;
}

.custom-success-text {
    color: #186049;
}

.custom-btn-success {
    background-color: #186049;
    border-color: #186049;
    color: #fff;
}

.custom-btn-success:hover {
    background-color: #186049;
    border-color: #186049;
    color: #fff;
}


#logo {
    margin-top: -1rem;
}

#logo img {
    border-radius: 50%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

#delivery-banner {
    background-color: #186049;
    font-size: 0.5rem;
}

#home {
    width: 100%;
    height: 100vh;
    background: url('/media/hero.webp') no-repeat;
    background-size: cover;
    background-position: 80% 20%;
    /* clip-path: polygon(100% 0, 100% 100%, 52% 100%, 33% 75%, 8% 59%, 0 28%, 0 0); */
}

.title-best{
    z-index: 1;
    background: url('/media/hands.jpg') no-repeat;
    background-size: cover;
    background-position: 90% 10%;

}

.navbar .nav-link::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0px;
    height: 2px;
    background-color: #186049;
    transition: all .6s ease;
    transform-origin: center;
}

.navbar .nav-item:hover .nav-link::before {

    width: 100%;
}

.navbar .nav-link {
    position: relative;
}


.offcanvas {
    bottom: initial;
}

.text-brand {
    font-family: 'Spectral SC', serif;
}

.text-hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.text-sub-hero {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1A1222;
}

.shop-now-button {
    background: #EA9803;
    color: #1A1222;
    width: 200px;
    font-weight: 700;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #1A1222;
    color: #ffffff;
}

.discount-button {
    border: 1px solid #1A1222;
    width: 200px;
    font-weight: 700;
}

.discount-button:hover,
.discount-button:focus {
    color: #fff;
    outline: 0;
}

.discount-button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.discount-button:hover {
    box-shadow: 0 0 40px 40px #186049 inset;
}

.no-hover:hover {
    background-color: initial;
    color: initial;
    text-decoration: none;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.bi-box-arrow-in-up {
    color: #186049;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f4f4f4;
    z-index: -1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 45px;
}

.quantity-input {
    min-width: 150px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* faq */
.wrapper {
    max-width: 760px;
    margin: 50px auto;
    padding: 40px 20px
}

.wrapper .accordion-button {
    font-size: 0.9rem;
    font-weight: 500
}

.wrapper .accordion-button:hover {
    background-color: #f8f8f8
}

.wrapper .accordion-button:focus {
    box-shadow: none
}

.wrapper .accordion-button::after {
    background-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8c8c8;
    background-position: center center;
    border-radius: 50%
}

.wrapper .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #f7f7f7;
    font-weight: 600;
    border-bottom: 1px solid #ddd !important
}

.accordion-button:not(.collapsed)::after {
    border-color: #1E88E5
}

.wrapper .accordion-button.collapsed {
    border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse.show {
    border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse {
    background-color: #eaf3fa
}

.wrapper .accordion-collapse ul li {
    line-height: 2rem;
    width: 100%;
    padding: 0.5rem 1.3rem
}

.wrapper .accordion-collapse ul li:hover {
    background-color: #c9e7ff
}

.wrapper .accordion-collapse ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.85rem;
    font-weight: 400;
    display: block
}

.wrapper .accordion-collapse ul li:hover a {
    color: #222
}

.product-card {

    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 225px;


}

.image-container {
    position: relative;
    height: 225px;
    width: 225px;
}

.thumbnail-image {
    border-radius: 10px !important;
}


.discount {

    background-color: red;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    border-radius: 6px;
    color: #fff;
}

.wishlist {

    height: 27px;
    width: 27px;
    color: #186049;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first {

    position: absolute;
    width: 100%;
    padding: 10px;
}

.new-price {
    font-size: 15px;
    font-weight: bold;

}

.old-price {
    font-size: 10px;
    font-weight: bold;
    color: grey;
}

/* Large screen */
@media only screen and (min-width: 992px) {
    .header-container {
        padding-top: 144px;
    }

    .icons-menu {
        margin-top: 1rem;
    }

    .navbar .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }

    #logo {
        position: absolute;
    }

    #logo img {
        height: 65px;
        width: 65px;
    }

    .text-brand {
        font-size: 1.2rem;
    }

    #logo {
        margin-left: 5rem;
    }
}

/* Small Screen */
@media only screen and (max-width: 991px) {
    .text-hero {
        font-size: 1.5rem;
    }

    .shop-now-button {
        width: 150px;
        font-size: 1rem;
    }

    .discount-button {
        width: 150px;
        font-size: 1rem;
    }

    #home {
        background: url('/media/mobile_hero.webp') no-repeat;
        background-size: cover;
        background-position: 60% 40%;
        background-repeat: no-repeat;
    }

    #logo img {
        height: 50px;
        width: 50px;
    }

    .header-container {
        padding-top: 98px;
    }

}

@media (max-width: 777px) {
    .wrapper {
        margin: 50px 20px
    }
}

@media (max-width: 365px) {
    .wrapper {
        margin: 50px 10px
    }

    .w-75 {
        width: 90% !important
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f9a826;
    outline: 0;
    box-shadow: none;
}


.border-rad {

    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    color: #fff;
    background-color: #f9a826;
    border-color: #f9a826;
}

#footer {
    background-color: #186049;
}

