{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Spectral+SC&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
 
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/ae7929b8e5.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    {% block extrajs %}
    {% endblock %}

    <title>Pura Vida {% block extratitle %}{% endblock %}</title>
</head>


<body>
    <header class="container-fluid fixed-top px-0 cactus">
        <div id="topnav" class=" d-flex justify-content-between align-items-center py-2">
            <div class="col-2 d-lg-none">
                <a class="btn btn-sm text-start no-hover" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list fs-3"></i>
                </a>
            </div>
            <div class="col-auto me-3">
                <a class="navbar-brand text-brand" id="logo" href="{% url 'home' %}">
                    PURA <img src="{{ MEDIA_URL }}logo.png" alt="Logo"> VIDA
                </a>
            </div>
            <div class="icons-menu col-auto text-end">
                <ul class="list-inline list-unstyled me-lg-5 me-3 m-0">
                    <li class="list-inline-item">
                        <a class="nav-link" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasSearch" aria-controls="offcanvasTop">
                            <div><i class="bi bi-search fs-4"></i></div>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'wishlist' %}">
                            <div class="text-center p-1">
                                <div class="position-relative"><i class="bi bi-heart fs-4"></i>
                                    {% if wishlist_count > 0 %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill custom-success-bg">
                                        {{ wishlist_count }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-inline-item dropdown border-0">
                        <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center p-1">
                                <div><i class="bi bi-person-bounding-box fs-4"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center p-1">
                                <div class="position-relative"><i class="bi bi-basket fs-4"></i>
                                    {% if bag_items %}
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill custom-success-bg">
                                        {{ product_count }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light py-0 w-100">
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col text-white">
                <h4 class="text-brand my-1">Free delivery on orders over €{{ free_delivery_threshold }}</h4>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    {% block postloadjs %}
        <script type="text/javascript">
            $(document).ready(function () {
                $(".toast").toast("show");
            });
        </script>
    {% endblock %}

    <!-- Offcanvas Search -->
    <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearch">
        <div class="offcanvas-body w-75 mx-auto">
            <div class="rounded-0" aria-labelledby="search">
                <form method="GET" action="{% url 'products' %}" class="d-flex" role="search">
                    <input class="form-control me-1 rounded-0" type="text" name="q" placeholder="Search our site">
                    <button class="btn btn-outline-success rounded-0" type="submit"><i class="fas fa-search"></i></button>
                    <button type="button" class="btn-close my-auto ps-3" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>