<div class="collapse navbar-collapse ps-3 m-0" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catalogue
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Foliage Plants</a>
                <a href="" class="dropdown-item ">Flowering Plants</a>
                <a href="" class="dropdown-item">Air prifying Plants</a>
                <a href="" class="dropdown-item">Succulent Plants</a>
                <a href="" class="dropdown-item ">Cacti & Cactus Plant</a>
                <a href="" class="dropdown-item">Bonsai</a>
                <a href="" class="dropdown-item ">Pots</a>
                <a href="" class="dropdown-item">Plant Care</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item ">Indoor Plants Care Tips</a>
                <a href="" class="dropdown-item">Indoor Plants Advantages</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="clothing-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Season Sale</a>
                <a href="" class="dropdown-item">Free pots</a>
                <a href="" class="dropdown-item">Buy 2 get 3</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="homeware-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">By Phone</a>
                <a href="" class="dropdown-item">By social media</a>
                <a href="" class="dropdown-item">By email</a>
            </div>
        </li>
    </ul>
</div>