<div class="collapse navbar-collapse ps-3 m-0" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="houseplants"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Houseplants <i class="fa fa-chevron-down" style="font-size:12px"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="houseplants">
                <a href="{% url 'products' %}?plants" class="dropdown-item">All Houseplants</a>
                <a href="{% url 'products' %}?plants&under_10&sort=price&direction=asc" class="dropdown-item ">Plants for under 10$</a>
                <a href="{% url 'products' %}?plants&under_20&sort=price&direction=asc" class="dropdown-item">Plants for under 20$</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="plants" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Plants by Type <i class="fa fa-chevron-down" style="font-size:12px"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants">
                <a href="{% url 'products' %}?category=foliage" class="dropdown-item">Foliage Plants</a>
                <a href="{% url 'products' %}?category=flowering" class="dropdown-item ">Flowering Plants</a>
                <a href="{% url 'products' %}?category=air_purifying" class="dropdown-item">Air Purifying Plants</a>
                <a href="{% url 'products' %}?category=succulents" class="dropdown-item">Succulent Plants</a>
                <a href="{% url 'products' %}?category=cacti" class="dropdown-item ">Cacti & Cactus Plant</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="pots-care" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Pots & Care <i class="fa fa-chevron-down" style="font-size:12px"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pots-care">
                <a href="{% url 'products' %}?category=pots" class="dropdown-item">Pots</a>
                <a href="{% url 'products' %}?category=care" class="dropdown-item">Plant Care Tools</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-text nav-link mr-5" href="#" id="blog">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text nav-link mr-5" href="#" id="special-offers">
                Special Offers
            </a>
        </li>
    </ul>
</div>