.box {
	margin: auto;
}

.heading {
	font-weight: bold;
	font-size: 66px;
}

.sub-heading {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 8px 0 8px 0;
	margin-top: 20px;
	margin-bottom: 35px;
}

.card {
	padding: 8%;
	padding-bottom: 30px;
	padding-top: 35px;
	margin-top: 60px;
	margin-bottom: 80px;
	background-color: #ffffff;
	border-radius: 0;
}

textarea[name="message"] {
	resize: none;
}

#e-mail {
	height: 45px;
}

#message {
	height: 120px;
}

input.input-box, textarea.input-box {
	background-color : #E0E0E0;
	border: #616161;
	color: #000000;
	font-size: 15px;
	padding: 15px auto 15px auto !important;
	height: 50px !important;
}

input.input-box:focus, textarea.input-box:focus {
	background-color: #212121;
	color: #ffffff;
}

.rm-border:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form .form-control::-webkit-input-placeholder { 
  	color: #9E9E9E;
}

::-moz-placeholder {
  	color: #9E9E9E !important;
}

input.btn-black {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	height: 50px;
}

.conditions {
	font-size: 12px;
	color: #BDBDBD;
	text-align: center;
}