{% extends "includes/base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3">
            <h2 class="text-start">Categories</h2>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            product BY TYPE
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Foliage product</a></li>
                            <li><a class="dropdown-item" href="#">Flowering products</a></li>
                            <li><a class="dropdown-item" href="#">Air prifying products</a></li>
                            <li><a class="dropdown-item" href="#">Succulent products</a></li>
                            <li><a class="dropdown-item" href="#">Cacti & Cactus product</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="row mb-3">
                <p class="ms-auto mt-3">
                    Products listed: <strong>{{ products|length }}</strong> {% if search_term %} found for
                    <strong>"{{search_term}}"</strong>{%endif%}
                </p>
                {% for c in current_categories %}
                <a class="" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="badge rounded-pill bg-secondary">{{ c.friendly_name}}</span>
                </a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <p>Sort products by</p>
                        </li>
                        <li class="list-inline-item">
                            <select id="sort-selector"
                                class="form-select form-select-md border border-black">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                    Sort by...
                                </option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                    Lowest Price
                                </option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                    Highest Price
                                </option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                    Rating (low to
                                    high)
                                </option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                    Rating (high
                                    to
                                    low)
                                </option>
                                <option value="name_asc" {% if current_sorting == 'friendly_name_asc' %}selected{% endif%}>
                                    Name A-Z</option>
                                <option value="name_desc" {% if current_sorting == 'friendly_name_desc' %}selected{% endif%}>
                                    Name Z-A</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="product-container col-11">
                    <div class="row mt-2 mb-2">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                    <p class="text-muted mb-0">{{ product.botanical_name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>

                                            {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}
                                                /
                                                5</small>
                                            {% else %}
                                            <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="">Edit</a> |
                                                <a class="text-danger"
                                                    href="">Delete</a>
                                            </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btt-button">
    <a class="btt-link d-flex h-100">
        <i class="bi bi-box-arrow-in-up fs-2"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}